.projects-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  gap: 4rem;
}

.project-card {
  border-radius: 2rem;
  overflow: hidden;
  backdrop-filter: blur(5px);
  transition: all 0.4s ease-out;
  box-shadow: 1px 1px 8px hsl(from var(--border) h s l / 0.4);
  /* box-shadow: inset 0 0 2px var(--border); */
}
.project-card:before {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 182px;
  opacity: 0.1;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.project-card:hover {  
  box-shadow: inset 1px 1px 8px hsl(from var(--border) h s l / 0.4);
}

.project-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 2rem;
  box-shadow: 0px 3px 8px 0px hsl(from var(--border) h s calc(l - 50) / 0.8);
}

.project-content {
  padding: 1rem;
  text-align: left;
  position: relative;
  color: var(--text);
}
.head-text {
  display: flex;
  justify-content: space-between;
}
.project-content h3 {
  margin-bottom: 0.5rem;
}
.project-content span {
  color: var(--text);
  display: flex;
  padding: 0.25rem 0.7rem;
  border-radius: 20px;
}

.project-content p {
  font-size: 0.95rem;
  margin-bottom: 0.75rem;
}

.project-btns {
  display: flex;
  justify-content: space-between;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
}

.tech-stack li {
  padding: 0.25rem 0.7rem;
  border-radius: 5px;
  font-size: 0.75rem;
  font-weight: 550;
  cursor: default;
  transition: all 0.2s ease-in-out;
  box-shadow: inset 1px 1px 2px hsl(from var(--border) h s l / 0.4);
}
.tech-stack li:hover {
  background: hsl(from var(--info) h s l);
}

.project-links a {
  margin: 0.8rem;
  color: var(--text);
  transition: all 0.2s;
  position: relative;
  padding: 0.5rem 0.6rem;
  text-decoration: none;
  font-size: large;
  border-radius: 1rem;
  transition: all 0.3 ease-in-out;
  padding: 0.4rem 1rem;
  cursor: pointer;
}
.project-links svg {
  transition: all 0.4s ease-in;
}
.project-links a:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: var(--info);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  z-index: -1;
}

.project-links a:hover {

  text-shadow: 2px 2px 4px var(--border);
}
.project-links a:hover svg {
  transform: scale(1.3);
}

@media only screen and (max-width: 478px) {
  .projects-grid {
    padding: 1rem;
  }
  .project-card {
    box-shadow: 1px 1px 4px var(--border);
  }
}
