* {
  margin: 0;
  padding: 0;
}
:root {
  color-scheme: light dark;
  font-synthesis: none;
  scrollbar-width: none;

  --bg: hsl(206, 55%, 14%);
  --text: hsl(300 0% 95%);
  --border: hsl(0, 0%, 67%);
  --primary: hsl(179, 36%, 45%);
  --secondary: hsl(209, 24%, 27%);

  --danger: hsl(9 26% 64%);
  --warning: hsl(52 19% 57%);
  --success: hsl(146 17% 59%);
  --info: hsl(217 28% 65%);
}

[data-theme="light"] {
  --bg: hsl(178, 40%, 87%);
  --text: #263339;
  --border: hsl(200, 7%, 41%);

  --primary: hsl(168, 94%, 50%);
  --secondary: hsl(198, 94%, 50%);

  --danger: hsl(9 26% 64%);
  --warning: hsl(52 19% 57%);
  --success: hsl(146 17% 59%);
  --info: hsl(217 28% 65%);
}
